@{
    ViewBag.Title = "Simple Apps for Simple Problems";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Simple Apps for Simple Problems we want to create web applications that solve those little problems in life that annoy us all, but without a huge app that consumes too much of your device's battery and processor speed. That's why our apps are free from unnecessary bloat and deliver just the features you need.</p>

<p>You can trust our apps to do their job and not slow your device down in the process!</p>
