@{
    ViewBag.Title = "Contact Us";
}
<h4>@ViewBag.Title.</h4>
<h3>Simple Apps for Simple Problems</h3>

<p>Coming soon!</p>
<p>Go ahead and Google us for now.</p>
<address>
    
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@